.drawer-slider {
  height: 5px;
  width: 20%;
  padding: 0 7.5%;
  margin-top: 2px;
  background-color: #00c4cc;
  border-radius: 5px;
  transition: transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

.drawer-slider .right {
  transform: translateX(400%);
}
