.list {
  width: 100vw;
  overflow: scroll;
  max-height: 100dvh;
}

.spacer {
  padding-left: 20px;
  padding-top: 120px;
  width: 100%;
  max-width: 600px;
}

video {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
}
