.App {
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
  position: relative;
}

.view {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  will-change: animation;
}

.view {
  transition: transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

.leaderboard-view {
  transform: translateX(100%);
}

.view-change .record-view {
  transform: translateX(-100%);
}

.view-change .leaderboard-view {
  transform: translateX(0);
}
.App-header.hide {
  display: none;
}

.App-header {
  position: absolute;
  width: 100%;
}

.App-header > .record-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 100px;
  z-index: 5;
} 

.App-header > .record-button h2 {
  font-weight: 500;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
}
.video-container > video {
  width: 100%;
}

.hide {
  display: none;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 10px;
}
